<div class="max-w-4xl mx-auto p-4 bg-white shadow-md rounded-lg">
  <h2 class="text-2xl font-semibold text-gray-800 mb-4">Sortie</h2>
  <form (ngSubmit)="onSubmit()" class="space-y-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex items-end gap-2">
        <div class="w-1/2">
          <label
            for="senderStoreCode"
            class="block text-sm font-medium text-gray-700"
            >Magasin destination</label
          >
          <select
            id="destinationStoreCode"
            required
            [(ngModel)]="exitMovement.destinationStoreCode"
            name="destinationStoreCode"
            class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
          >
            <option value="destinationStore1">Entrepôt 1</option>
            <option value="destinationStore2">Entrepôt 2</option>
          </select>
        </div>
        <div class="w-3/4">
          <input
            type="text"
            id="destinationStoreName"
            required
            [(ngModel)]="exitMovement.destinationStoreName"
            name="destinationStoreName"
            class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
          />
        </div>
      </div>

      <div>
        <label
          for="customStatus"
          class="block text-sm font-medium text-gray-700"
          >Statut Douanier</label
        >
        <select
          id="customStatus"
          required
          [(ngModel)]="exitMovement.customStatus"
          name="customStatus"
          class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
        >
          <option value="T1">T1</option>
          <option value="T2">T2</option>
        </select>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex items-end gap-2">
        <div class="w-1/4">
          <label
            for="referenceType"
            class="block text-sm font-medium text-gray-700"
            >Référence</label
          >
          <select
            id="referenceType"
            required
            [(ngModel)]="exitMovement.referenceType"
            name="referenceType"
            class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
          >
            <option value="type1">Type 1</option>
            <option value="type2">Type 2</option>
          </select>
        </div>
        <div class="w-3/4">
          <input
            type="text"
            id="reference"
            required
            [(ngModel)]="exitMovement.reference"
            name="reference"
            class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
          />
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex items-end gap-2">
        <div class="w-1/4">
          <label
            for="clearanceType"
            class="block text-sm font-medium text-gray-700"
            >Apurement</label
          >
          <select
            id="clearanceType"
            required
            [(ngModel)]="exitMovement.clearanceType"
            name="clearanceType"
            class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
          >
            <option value="T1">T1</option>
            <option value="T2">T2</option>
          </select>
        </div>
        <div class="w-3/4">
          <input
            type="text"
            id="clearance"
            required
            [(ngModel)]="exitMovement.clearance"
            name="clearance"
            class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
          />
        </div>
      </div>
    </div>

    <div class="flex items-center">
      <div class="w-1/4">
        <label
          for="goodsDescription"
          class="block text-sm font-medium text-gray-700"
          >Nature de la marchandise</label
        >
      </div>

      <input
        type="text"
        id="goodsDescription"
        required
        [(ngModel)]="exitMovement.goodsDescription"
        name="goodsDescription"
        class="mt-1 w-full block shadow-sm sm:text-sm border-gray-300 rounded-md"
      />
    </div>

    <div class="grid grid-cols-2 md:grid-cols-2 gap-4">
      <div>
        <label for="quantity" class="block text-sm font-medium text-gray-700"
          >Quantité</label
        >
        <input
          type="number"
          id="quantity"
          required
          [(ngModel)]="exitMovement.quantity"
          name="quantity"
          class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
        />
      </div>
      <div>
        <label for="weight" class="block text-sm font-medium text-gray-700"
          >Poids</label
        >
        <input
          type="number"
          id="weight"
          required
          [(ngModel)]="exitMovement.weight"
          name="weight"
          class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
        />
      </div>
      <div>
        <label
          for="totalQuantity"
          class="block text-sm font-medium text-gray-700"
          >Quantité totale</label
        >
        <input
          type="number"
          id="totalQuantity"
          required
          [(ngModel)]="exitMovement.totalQuantity"
          name="totalQuantity"
          class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
        />
      </div>
      <div>
        <label for="totalWeight" class="block text-sm font-medium text-gray-700"
          >Poids total</label
        >
        <input
          type="number"
          id="totalWeight"
          required
          [(ngModel)]="exitMovement.totalWeight"
          name="totalWeight"
          class="mt-1 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
        />
      </div>
    </div>

    <div class="flex justify-end space-x-4">
      <button
        type="button"
        (click)="onCancel()"
        class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-gray-700 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
      >
        Annuler
      </button>
      <button
        type="submit"
        class="py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
      >
        Envoyer
      </button>
    </div>
  </form>
</div>
